build
obj
lux

# Linux executables (files without extensions)
*
!*/
!*.*

# Ignore Windows executables
*.exe

# Ignore Doxygen output
docs/doxygen/
docs/html/
docs/latex/
docs/xml/

# Ignore output from llvm
*.bc
*.ll
*.o
*.s

# ignore the lsp-client server node modules
src/lsp/vscode-server/node_modules
src/lsp/vscode-server/client/node_modules