build
obj
lux

# Linux executables (files without extensions)
*
!*/
!*.*

# Ignore Windows executables
*.exe

# Ignore Doxygen output
docs/doxygen/
docs/html/
docs/latex/
docs/xml/

# Ignore output from llvm
*.bc
*.ll
*.o
*.s
